<a href="https://colab.research.google.com/github/aadam873/Mytest/blob/master/2023_BootCamp_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Acknowledgments/Credits: The material for this bootcamp is based on lectures from Univeristy of Maryland, College Park GRADMAP and Scientific Computing from Scratch 2022.

## **Please make your own copy of this notebook before making changes or beginning the exercises!**

#Day 1 Python Boot Camp
## Agenda
1. [**Why Python?**](#WhyPython)
2. [**Basic Syntax**](#syntax)
3. [**Differences from MATLAB**](#matlab)
4. [**What is a function**](#function)
5. [**Python Quirks**](#quirks)
6. [**Exercises**](#excercises)

## 1. Why Python?
<a id='WhyPython'></a>



What makes Python great?

*   Dynamic language (no compiling)
*   Interactive (Jupyter and Colab notebooks)
*   Lots of packages
*   Great community

Science relies on reproducibility, and part of that is sharing data and sharing analysis code. If a license is required for the software to run your code, that does not encourage others to use your method or build upon it further.

## 2. Basic Syntax
<a id='syntax'></a>

### Python as a calculator
<a id='syntax'></a>

In [ ]:
7 + 11

18

The usual order of operations is respected. You can also use parentheses to ensure a certain order.

In [ ]:
(3*4)/(2**2 + 4/2)

2.0

You can use `_` to refer to the output of the previous computation.

In [ ]:
_*4

8.0

Arithmetic with complex numbers uses `j` with a number in front, or the keyword `complex`.

In [ ]:
(3+4j)

(3+4j)

In [ ]:
complex(3,4)

(3+4j)

In [ ]:
abs(3+4j)

5.0

Importing packages is done with a line such as

In [ ]:
import antigravity

Basic functions such as `sin`, `cos`, `exp`, `log`, `sqrt`, can be found in various packages. For example, the math package. Try `TAB` completion (`Control+SPACE` in Colab) to see what's in a package.

In [ ]:
import math

In [ ]:
math.

11013.232920103324

There are different ways to get information about a certain function

In [ ]:
math.factorial?

In [ ]:
help(math.factorial)

Help on built-in function factorial in module math:

factorial(x, /)
    Find x!.

    Raise a ValueError if x is negative or non-integral.

### Variables and assignments

The assignment operator, denoted by the `=` symbol, assigns values to variables. The line `var_a=3` takes the known value, 3, and assigns that value to the variable `var_a`. Variables can be a single letter (like x or y) but they are usually more helpful when they have descriptive names (like average, cells, total_sum). You want to have a descriptive variable name (so you don't have to keep looking up what it is) but also one that is not a pain to type repeatedly.

Don't confuse assignment with equality! Assignment is not symmetric, whereas equality is.

In [ ]:
var_a = 3
var_b = 7

You can do algebra with variables as usual

In [ ]:
var_a + var_b

10

or assign the result of a calculation to a new variable

In [ ]:
var_sum = var_a + var_b
var_sum

10

Variables in Python come in many forms. Below are some examples.

In [ ]:
"string"

'string'

In [ ]:
an_integer = 42 # Just an integer
a_float = 0.1 # A non-integer number, up to a fixed precision
a_boolean = True # A value that can be True or False
a_string = '''just enclose text between two 's, or two "s, or do what we did for this string''' # Text
none_of_the_above = None # The absence of any actual value or variable type

Mathematical equality is ==

In [ ]:
var_sum == var_a + var_b

True

In [ ]:
var_a == var_b

False

We can assign the value of one variable to another

In [ ]:
var_a = var_b
print("Variable a is: ",var_a, "\nVariable b is: ", var_b)

Variable a is:  7
Variable b is:  7

We can assign multiple variables in one line

In [ ]:
var_a, var_b = 3, 7

In [ ]:
var_a + var_b

10

You can clear a variable using `del`

In [ ]:
del var_a

In [ ]:
var_a

NameError: ignored

One more difference between mathematical equality and computational assignment: the expression below doesn't make sense mathematically, but is common in computation

In [ ]:
var_b = var_b + 1

It's so common that there is an short form for the increment

In [ ]:
var_b += 1

In [ ]:
var_b

9

List all the variables in this notebook

In [ ]:
%whos

Variable              Type        Data/Info
-------------------------------------------
factorial_recursive   function    <function factorial_recursive at 0x7f2b0996e7a0>
math                  module      <module 'math' (built-in)>
this                  module      <module 'this' from '/usr/lib/python3.7/this.py'>
var_b                 int         9
var_sum               int         10

### Lists, tuples, sets, and dictionaries

**Lists** are groups of objects (values, variables, even functions). We construct them using square brackets [] with objects separated by commas.

In [ ]:
values = [7, 11, 13, 17, 19, 23, 29]

**Counting starts at 0.**

In [ ]:
values[0], values[1], values[2], values[3], values[4], values[5], values[6]

(7, 11, 13, 17, 19, 23, 29)

There are built-in functions for handling lists.

In [ ]:
len(values)

7

In [ ]:
# This doesn't work
values[6]

29

You can access list elements in reverse. For example, the last element of the list is

In [ ]:
values[-1]

29

Sometimes you want to access portions of lists. These are called slices

In [ ]:
values[0:4]

[7, 11, 13, 17]

When you specify the last element for the slice, it goes up to but not including that element of the list.

If you do not include a start index, the slice automatically starts at the first element. If you do not include an end index, the slice automatically goes to the last element.

In [ ]:
values[4:7], values[4:]

([19, 23, 29], [19, 23, 29])

Lists can include objects of different types. Most common data types in Python are strings, integers, and floats. You can put these different types together in a list.

In [ ]:
mixed_list = ['one', 1, 1e6, [1,1], 1==1, None]

In [ ]:
type(mixed_list[0])

str

In [ ]:
for item in mixed_list:
    print(str(type(item))[8:-2])

str
int
float
list
bool
NoneType

You can join lists together by "adding" them

In [ ]:
values + mixed_list

[7, 11, 13, 17, 19, 23, 29, 'one', 1, 1000000.0, [1, 1], True, None]

Addition or multiplication doesn't work the way you might expect for lists of numbers

In [ ]:
values + values

[7, 11, 13, 17, 19, 23, 29, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
3*values

[7,
 11,
 13,
 17,
 19,
 23,
 29,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 7,
 11,
 13,
 17,
 19,
 23,
 29]

Strings are similar (but not equal) to lists of characters

In [ ]:
w = 'Hello World!'

You can slice them similar to lists

In [ ]:
w[:5]

'Hello'

But strings are not lists. There are various built-in methods for handling strings.

In [ ]:

w.

['Hello', 'World!']

In [ ]:
w.split()[0], w.upper()

('Hello', 'HELLO WORLD!')

Another data structure similar to lists is the **tuple**.

In [ ]:
mixed_tuple = ('one', 1, 1e6, [1,1], 1==1, None)
mixed_tuple[0]

'one'

A major difference between the list and the tuple is that list items can be changed

In [ ]:
mixed_list[0] = 'apple'
print(mixed_list)

['apple', 1, 1000000.0, [1, 1], True, None]

whereas tuple elements cannot (tuples are "immutable")

In [ ]:
mixed_tuple[0] = 'apple'

TypeError: ignored

Also, we can add an element to the end of a list, which we cannot do with tuples.

In [ ]:
mixed_list.append( 3.14 )
print(mixed_list)

['apple', 1, 1000000.0, [1, 1], True, None, 3.14]

**Sets** are unordered collections with no duplicate elements. They support mathematical operations like union, intersection, and complement. It is defined by using a pair of braces, and its elements are separated by commas

In [ ]:
my_set = {3, 3, 2, 3, 1, 4, 5, 6, 4, 2}

In [ ]:
my_set[0]

TypeError: ignored

One quick usage of this is to find out the unique elements in a string, list, or tuple.

In [ ]:
set([1, 2, 2, 3, 2, 1, 2])

{1, 2, 3}

In [ ]:
set('Banana')

{'B', 'a', 'n'}

Another useful data structure is the **dictionary**. Instead of using a sequence of numbers to index the elements (such as lists or tuples), dictionaries are indexed by keys, which could be a string, number or even a tuple. Values are labeled by a unique key and can be any data type.

So a dictionary consists of key-value pairs, and each key maps to a corresponding value.

In [ ]:
dict_1 = {34:3, 100:4, 2:2}

In [ ]:
dict_1[1]

KeyError: ignored

Within a dictionary, elements are stored without order, therefore, you can not access a dictionary based on a sequence of index numbers. To get access to a dictionary, we need to use the key of the element.

In [ ]:
dict_1['apple']

Keys and values can be listed by corresponding methods

In [ ]:
dict_1.keys()

dict_keys([34, 100, 2])

In [ ]:
dict_1.values()

dict_values([3, 4, 2])

Keys and values can have many different data types

In [ ]:
a_dict = { 1:'This is the value, for the key 1', 'This is the key for a value 1':1, False:':)', (0,1):256 }

In [ ]:
a_dict['This is the key for a value 1']

1

New key/value pairs can be added by just supplying the new value for the new key

In [ ]:
a_dict['new key'] = 'new_value'
a_dict

{(0, 1): 256,
 1: 'This is the value, for the key 1',
 False: ':)',
 'This is the key for a value 1': 1,
 'new key': 'new_value'}

### Loops

The power of coding comes from **loops** (repetitions) and **conditionals** (choices). There are different ways to construct loops. The most common way is to construct a for loop:

```python
for variable in list:
    do things using variable
```
- Watch for the colon `:` at the end of a `for` statement.
- Watch for the indentation on the second line. 

Indentation is *very* important in Python. There is no separate statement that closes code blocks such as loops and conditionals. It's all done via indentation. Indentation is with 4 spaces, but advanced editors that understand Python syntax will take care of that for you.

In [ ]:

values

[7, 11, 13, 17, 19, 23, 29]

In [ ]:
value_squared = []
for value in values:
    value_squared.append(value**2)

print(value_squared)
# try this with different indentations

[49, 121, 169, 289, 361, 529, 841]

To loop over a range of numbers, the syntax is

In [ ]:
n = 5
for j in range(n+1):
    print(j)

0
1
2
3
4
5

Note that it starts at 0 (by default), and ends at n-1 for range(n).

What is the sum of every integer from 1 to 10?

In [ ]:
n = 1
for i in range(1, 11):
    n *= i
    
print(n)

3628800

List comprehensions allow sequences to be created from other sequence with very compact syntax

For example, below we append the square numbers up to 25 in a list.

In [ ]:
y = []
for i in range(1, 6):
    y.append(i**2)
y

[1, 4, 9, 16, 25]

With list comprehension, we can write this as

In [ ]:
y = [i**2 for i in range(1, 6)]
y

[1, 4, 9, 16, 25]

### Conditional statements

A conditional statement is a code construct that executes blocks of code only if certain conditions are met. These conditions are represented as logical expressions.

```python
if logical expression:
    code block
```

The word `if` is a keyword. When Python sees an if-statement, it will determine if the associated logical expression is true. If it is true, then the code in code block will be executed. If it is false, then the code in the if-statement will not be executed. The way to read this is “If logical expression is true then do code block.”

In [ ]:
mixed_list

['apple', 1, 1000000.0, [1, 1], True, None, 3.14]

In [ ]:
mixed_list.append('banana')

In [ ]:
if 'apple' in mixed_list or 'banana' in mixed_list:
    print('We have a fruit!')
else:
    print('There is no apple')

We have a fruit!

What will be the value of y after the code is executed?

In [ ]:
x = 3
if x > 1:
    y = 2
elif x > 2:
    y = 4
else:
    y = 0
print(y)

2

You can use if statements in a concise way (ternary operators)

In [ ]:
is_student = True
person = 'student' if is_student else 'not student'
print(person)

student

This is equivalent to

In [ ]:
is_student = True
if is_student:
    person = 'student'
else:
    person = 'not student'
print(person)

student

## 3. Differences from MATLAB
<a id='matlab'></a>

Commenting:

In [ ]:
# This is a comment
% This is not a comment

UsageError: Line magic function `%` not found.

Printing:
Just one print function, instead of disp(), fprintf(), and sprintf()

In [ ]:
print("Hello, World!")

Hello, World!

Index:
The first element in Python begins with 0, in MATLAB, the first element is 1.

In [ ]:
example_list = [1,2,3,4]
print(example_list[0])
print(example_list[1])

1
2

You can access the last element with the index [-1], equivalent to (end) in MATLAB.

In [ ]:
print(example_list[-1])

4

Exponentiation:

In [ ]:
print(9^2)
print(9**2)

11
81

## 4. What is a function
<a id='function'></a>

In mathematics, functions are maps. They assign an element from their domain (inputs) to exactly one element in their range (outputs). In programming, a function is a sequence of instructions that performs a specific task. Functions break up our code into smaller, more easily understandable statements, and also allow code to be modular.

For example, the `math.sin` function in Python is a set of tasks (i.e., mathematical operations) that computes an approximation for $\sin x$. Rather than having to retype or copy these instructions every time you want to use the sin function, it is useful to store this sequence of instruction as a function that you can call over and over again.

In general, each function should perform only one computational task.

Here's the pseudocode for a function definition:
```python
def function_name(parameters):
    """ documentation"""
    ** function body code **
    return output
```

- Keyword `def`,
- Function name,
- Arguments,
- A colon to mark the end of the function header.
- Documentation to describe what the function does,
- Statements at the same indentation level (4 spaces, tab)
- Return statement for the value

Python has about 70 built-in functions (such as len or print). A Python package such as numpy includes hundreds of functions.

You can and should define your own functions.

In [ ]:
type(len)

builtin_function_or_method

In [ ]:
len?

In [ ]:
def greet(name):
    print("Hello, " + name + ". Good morning!")

In [ ]:
greet('1')

Hello, 1. Good morning!

In [ ]:
help(greet)

Include some documentation in your functions. 

```python
def greet(name):
    """This function greets a person by name"""
    print("Hello, " + name + ". Good morning!")
```

In [ ]:
def greet(name):
    """
    This function greets a person by name

    Args:
        name (str): The name of person that is greeted.

    Returns:
        str: Personalized greeting that includes name
    """
    print("Hello, " + name + ". Good morning!")

In [ ]:
help(greet)

Help on function greet in module __main__:

greet(name)
    This function greets a person by name

    Args:
        name (str): The name of person that is greeted.

    Returns:
        str: Personalized greeting that includes name

Define a function that adds three numbers

In [ ]:
def triple_adder(a, b, c):
    """
    This function sums up 3 numbers

    Args:
        a, b, c: Three numbers to be added

    Returns:
        out: The result of a+b+c
    """
    # Sum the inputs together
    out = a + b + c
    
    return out

In [ ]:
triple_adder(1,2,3)

6

The code doesn't check for the type of input and will try to add whatever we give

In [ ]:
triple_adder(1,1.2,4+1j)

(6.2+1j)

In [ ]:
out=10

In [ ]:
triple_adder('Python ', 'is ', 'great!')

'Python is great!'

Parameters and variables defined inside a function are not visible from outside the function. Hence, they have a local scope.

A function does not remember the value of a variable from its previous calls.

Here is an example to illustrate the scope of a variable inside a function.

In [ ]:
# Note the indentation
def some_func():
    x = 10
    print("Value inside function:",x)

x = 20
some_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

You can change the values of variables outside the function using the `global` keyword.

In [ ]:
meaning_of_life = 42

print(f'The meaning of life is {meaning_of_life}.')

def my_world():
    global meaning_of_life
    print(f'Within my world, meaning of life was {meaning_of_life}.')
    meaning_of_life = 1
    print(f'But the meaning of life changed to {meaning_of_life}.')

my_world()
print(f'Outside my world, meaning of life is now {meaning_of_life}.')

The meaning of life is 42.
Within my world, meaning of life was 42.
But the meaning of life changed to 1.
Outside my world, meaning of life is now 1.

## 5. Python Quirks
<a id='quirks'></a>

Mutable variables are pointers

In [ ]:
a = 10
b = a

print('a = ', a)
print('b = ', b)

a =  10
b =  10

In [ ]:
a = a + 1

print('a = ', a)
print('b = ', b)

a =  11
b =  10

In [ ]:
x = [1, 2, 3]
y = x

print('x = ', x)
print('y = ', y)

x =  [1, 2, 3]
y =  [1, 2, 3]

In [ ]:
x.append(4)

print('x = ', x)

x =  [1, 2, 3, 4]

In [ ]:
print('y = ', y)

y =  [1, 2, 3, 4]

Global vs local variables

In [ ]:
x = 2

def myfunc(y):
  #x = 10
  result = x + y
  return result

In [ ]:
myfunc(3)

5

In [ ]:
x = 10

In [ ]:
myfunc(3)

13

Functions in python are callable objects. Avoid using mutable variables as default arguements, as they give your function state, which can vary behavior of the function from call to call.

In [ ]:
# default arguement

def foo(a=2):
  a = a + 1
  return a

In [ ]:
foo()

In [ ]:
foo(5)

In [ ]:
# list as a default arguement

def foo_list(a=[]):
  a.append(5)
  return a

In [ ]:
foo_list()

In [ ]:
foo_list()

In [ ]:
class Foo_List:

  def __init__(self, a=[]):
    self.a = a
  
  def __call__(self):
    self.a.append(5)
    return self.a

In [ ]:
f = Foo_List()

In [ ]:
f()

Operator chaining

In [ ]:
False == False in [False]

In [ ]:
20 > 10 > 5

Tuple

In [ ]:
a = ('str1')
print(a)

In [ ]:
a = ('str1',)
print(a)

In [ ]:
a = 'str1',
print(a)

In [ ]:
a = ('str1' 'str2')
print(a)

## 6. Exercises
<a id='excercises'></a>

1. Check if 'Python' is in the string 'Python is great!'.

2. Get the last word 'great' from 'Python is great!'

3. Turn 'Python is great!' into a list.

4. Compute sin(87°).

5. Write a Python statement that generates the following error: "TypeError:math.sin() takes exactly one argument (0 given)".

6. Compute the surface area and volume of a cylinder from given radius and height. Make it a function.

7. Compute the slope between two points $p1=(x_1,y_1)$ and $p_2=(x_2,y_2)$. Recall that the slope between two such points is 
$ \frac{y_2−y_1}{x_2−x_1}$. Make it a function.

8. Compute the distance between two points as above. Recall that the distance between points in two dimensions is $\sqrt{(x_2−x_1)^2+(y_2-y_1)^2}$. Make it a function.

9. Generate an array with size 100 evenly spaced between -10 to 10.

10. Consider a triangle with vertices at (0,0), (1,0), and (0,1). Write a function `my_inside_triangle(x,y)` where the output is the string 'outside' if the point (x,y) is outside of the triangle, 'border' if the point is exactly on the border of the triangle, and 'inside' if the point is on the inside of the triangle.